body {
	font-family: "Noto Serif", serif;
	margin: 0;
	padding: 16px;
	background-color: #2a2a2b;
	color: #a9b7c6;
}
h1 {
	display: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul ul {
	margin-left: 20px;
}
li {
	margin: 0;
}
span.value {
	outline-color: #214283;
	margin: 0 6px;
}
a, a:visited {
	color: #cc7832;
	text-decoration: none;
}
.delete {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	color: transparent;
	background-image: url(trashcan-16-orange.svg);
}
.delete:active {
	background-image: url(trashcan-16-white.svg);
}
.flash {
	background-color: #f92672;
}
